.booking{

    .transit-element{
        height: 30px;
        background-color: var(--dark-color);
        color: #fff;
        margin-bottom: auto;
        font-weight: bold;
    }

    .solat-space{
        background-color: var(--light-color);
        height: auto;
    }
}



