.booking{
    height: 500px;
    border: 1px solid blue;

    .transit-statement{
        width: 3000px;
        height: 30px;
        // border: 2px solid blue;
        padding-top: 2px;
        font-family: monospace;
        font-size: larger;
        color: black;
        font-weight: bold;
        background-color: saturate($color: rgba(43, 194, 194, 0.904), $amount: 0);

    }
}



