.booking{

    .transit-element{
        height: 30px;
        background-color: var(--dark-color);
        color: #fff;
        margin-bottom: auto;
        font-weight: bold;
    }

    .solat-space{
        background-color: var(--light-color);
        height: auto;
    }

    .booking-form{
        .booking-div{
            text-align: center;
    
            h2{
                display: inline;
                padding-bottom: 0px;
                margin: 0px 15px;
            }
        }
    }
}

// Mobile
@media(max-width: 500px){
    .booking{
        .transit-element{
            height: 80px;
        }

        .booking-form{
            .booking-div{
                text-align: center;
        
                h2{
                    display: inline;
                    padding-bottom: 0px;
                    margin: 0px 15px;
                }
    
                .mygrid{
                    display: grid;
                    gap: 20px;
                    margin: 0 auto;
                    width: 100%;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto;
    
                    grid-template-areas: 
                    "my-form"
                    "button"
                    "bList";

                    .flex{
                        flex-direction: column;
                        
                        #f1{
                            margin-bottom: 20px;
                        }
                    }

                    #b3{
                        grid-area: button;
                    }
                    #l1{
                        grid-area: bList; 
                    }
                }
            }
        }
    }

}

