.solat-time{
    display: flex;

    .solat{
          display: flex;
          justify-content: center;  
    }
    .text{
        display: flex;
        justify-content: space-between;    
    }
    h1, h2{
        text-align: center;
    }
    .countdown-wrapper {
        background-color: #fff;
        color: #333;
        border-radius: 10px;
        box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
        padding: 20px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;
        background: rgba(248, 244, 246, 0.212);
        padding: 10px;


        .countdown-item {
            color: #111;
            font-size: 25px;
            font-weight: bolder;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            line-height: 40px;
            margin: 10px;
            padding-top: 10px;
        }

    }

    .count-down{
        margin-top: 40px;

        p{
            text-transform: capitalize;
        }
    }

    table {
        height: auto;
        margin: 20px;
        border-collapse: collapse;
        justify-content: center;


        th, td {
            text-align: center;
            padding: 10px;
            text-transform: capitalize;
        }  
    }

    #reserve{
        max-width: 200px;
    }

}

.grid {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    *:first-child{
        grid-row: 1 / span 2;
    }
    *:nth-child(3){
        justify-self: center;

    }
}

//Tablets
@media(max-width: 768px){
    .solat-time{
        margin-bottom: 100px;
        .countdown-wrapper{
            .countdown-item {
                color:#111;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                line-height: 30px;
                margin: 10px;
                padding-top: 10px;
            }
        }
        
        .count-down{
            margin-top: 0px;
        }
        .text{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;   
        }
    }

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    
        
        *:first-child{
            grid-column: 1;

        }
        *:nth-child(3){
            justify-self: center;
            margin: 0px auto;
        }
    }
}

