:root{
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002440;
    --light-color: #f4f4f4;
}

.header {
    background-color: var(--primary-color);
    color: #fff;
    height: 150px;
    
    a {
        color: #fff;
        padding: 10px;
        margin: 0 5px;
        display: flex;

        &:hover{
            border-bottom: 2px #fff solid;
        }
    }

    .oval{
        border: 1px solid var(--light-color);
        background-color: var(--light-color);
        width: 400px;
        height: 100px;
        border-radius: 50%;
    }

    .flex{
        justify-content: space-between;
    }

}

// Mobile
@media(max-width: 500px){
    .header{
        height: 200px;

        .title{
            width: 300px;
            text-align: center;
        }
        .oval{
            width: 70%;
            height: 40%;
        }
        
        .flex{
            flex-direction: column;
        }
    }
}