:root{
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002440;
    --light-color: #f4f4f4;
}

.header {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
    
    a {
        color: #fff;
        padding: 10px;
        margin: 0 5px;
        display: flex;

        &:hover{
            border-bottom: 2px #fff solid;
        }
    }

    .flex{
        justify-content: space-between;
    }

}