.admin{
    font-weight: bolder;
    .add-user{
        margin-bottom: 50px;
        .ad-grid{
            display: flex;
            
            #f2{
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
    .register-solah{
        margin-bottom: 50px;
        text-align: center;
        .contain{
            
            .flex{
                #solah,#batch,#batch1{
                    width: max-content;
                    margin: auto 10px;
                    line-height: auto;
                    padding: 5px 35px 5px 5px;
                    border-radius: 10px;
                    
                    
                }
                #f3,#f4{
                    margin: auto 5px;
                    height: 30px;
                    border: 1px solid ;
                    max-width: 150px;
                    
                }
                #c2{
                    height: 30px;
                    line-height: normal;
                    max-width: 150px;
                }
            }
        }
    }
   .user-list{
       text-align: center;
       height: auto;
       margin-bottom: 50px;
       padding: 0px 0px;

       .table{
            padding: 10px;
       }
   }
   .registered-solah{
        text-align: center;
        margin-bottom: 100px;

        ul{
            scroll-behavior: smooth;
        }
        li{
            width: max-content;
            height: 3rem;
        }

        p{
            float: left;
            padding: .5rem 1rem;
           
            text-transform: capitalize;
            
        }
   } 
}

//mobile
@media(max-width: 700px){
    .admin{

        .add-user{
            .ad-grid{
                display: flex;
                flex-direction: column;
                justify-content: space-between;;

                #f2{
                    margin: 0;
                }
                #c1{
                    margin-top: 10px;
                }
            }
        }
        .register-solah{
    
            .contain{
                
                .flex{
                    flex-direction: column;
                    #batch{
                        margin: 10px auto;
                    }

                    #f3,#f4{
                        margin: 5px auto;   
                    }
                    #c2{
                        width: 100%;
                        height: 50px;
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .registered-solah{
            text-align: center;
            margin-bottom: 20px;
    
            ul{
                scroll-behavior: smooth;
            }
            li{
                width: max-content;
            }
    
            p{
                text-transform: capitalize;
                
            }
       } 
    }
}