.admin{
    margin: 20px;

    .admin-form-container{
        
        .admin-form{
            margin-left: 100px;
            & #f1, #f2 {
                margin-top: 0px;
                margin-right: 20px;
                float: left;
                height: 40px;
                width: inherit;
            }
            & #c1{
                float: left;
                width: auto;
                height: 40px;
                padding-bottom: 5px;
            }
        }
    }
    .admin-table{
        margin: 100px;
    }
}