$sub-color: grey;
$main-color: black;

.form-input {
  background-color: white;
  color: $main-color;
  font-size: inherit;
  padding: 5px 5px 5px 5px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #b4becb;
  height: 50px;
  

  &:focus {
    outline: none;
  }
}
